
  <footer class="card-footer row bg-danger text-light mt-3">


    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="footerTxt">
        <div class="footerLogo"><h3>Kitchen Story</h3></div>
        <p>Kitchen Story offers a homestyle bakery experience in the Downtown, Newyork Metropolitan area. Our vision is to create upscale, quick-serve bakery with a focus on simple and satisfying souther style desserts and baked goods</p>
      </div>
    </div>


    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
      <div class="footerTxt p-b-100">
        <h3>ADDRESS</h3>
        <p>G2 Kingspark,<br> Downtown, Newyork</p>
      </div>
    </div>


    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
      <div class="footerTxt p-b-100">
        <h3>WORKING HOURS</h3>
        <p>Monday - Sunday<br> <strong>9.00 AM to 11.00 PM</strong></p>
      </div>
    </div>


    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
      <div class="footerTxt p-b-100 text-center">
        <h3>SHOP</h3>
        <p>9541 Harvey Ave.</p> 
         <br>
        <strong>Westwood, NJ 07675</strong>
      </div>
    </div>

  </footer>