
  <div class="container">
   
    <div class="product-content product-wrap clearfix product-deatil">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="product-image">
                    <img src="{{cake.image}}" alt="cake" class="img-fluid">
                </div>
            </div>

            <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
                <h2 class="name">
                    {{cake.name}}<br>
                    {{cake.ratings}}<i class="fa fa-star fa-2x text-primary pl-3" style="padding-left: 3px;"></i>
                    <br>
                    {{cake.likes}}<i class="fa-solid fa-heart fa-2x  text-danger" style="padding-left: 3px;"></i>
                    <span class="fa fa-2x"><h5></h5></span>
                  
                </h2>
                <small>{{cake.reviews}} Reviews</small> 
                <hr/>
                <h3 class="price-container">
                    {{cake.price | discount}}
                    <small>*includes tax</small>
                </h3>
                <div class="certified">
                    <ul>
                        <li>
                            <a href="#">Delivery time<span>7 Working Days</span></a>
                        </li>
                        <li>
                            <a href="#">Certified<span>Quality Assured</span></a>
                        </li>
                    </ul>
                </div>
                <hr />
                <div class="description description-tabs">
                    
                    <div id="myTabContent" class="tab-content">
                      <blockquote class="blockquote">
                        <p>{{cake.description}}</p>
                      </blockquote>
                      <p *ngIf="cake.flavour.length!=0"> <span class="blockquote text-danger">Flavour:</span>  <span class="font">{{cake.flavour}}</span>  </p>
                      <p *ngIf="cake.ingredients.length!=0"><span class="blockquote text-danger">Ingredients:</span><span class="font">{{cake.ingredients}}</span></p>
                      <p *ngIf="cake.type.length!=0"><span class="blockquote text-danger">Occasion:</span> <span class="font">{{cake.type}}</span></p>
                      <p *ngIf="cake.weight.length!=0"><span class="blockquote text-danger">Weight:</span> <span class="font">{{cake.weight}} Kg</span></p>
                    </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <a *ngIf="iscardadded"  (click)="purchase()" class="btn btn-success btn-lg">Add to cart <i class="fa-solid fa-cart-arrow-down"></i></a>
                        <a *ngIf="!iscardadded"   class="btn btn-success btn-lg disabled">Adding to Cart...</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
</div>
<app-footer></app-footer>