<body class="mt-3">
    
    <div class="text-center">
        <legend >We offer Cash On Delivery</legend>
        <input type="checkbox" disabled checked>Cash on Delivery
        <div class="mt-1">
            <button class="btn btn-primary" (click)="checkout()">check out <i class="fas fa-arrow-right"></i> </button>
        </div>
    </div>
    
    
    
    <div style="padding-left: 28%;height: 100%;" *ngIf="isplaced">
        <div class="card mt-3">
            <div class="upper"> <span>Order Placed <i class="fas fa-smile-beam"></i></span>
                <div class="d-flex flex-row align-items-end">
                    <h1 class="mb-0">{{obj.price | discount}}</h1>
                </div>
            </div>
            <div class="line">
                <hr class="new1">
            </div>
            <div class="bottom">
                <div class="d-flex flex-column mb-2"> <span class="muted-text">Name:</span> <span class="font-weight-bold"></span>{{obj.name}}</div>
                <div class="d-flex flex-column mb-2"> <span class="muted-text">Order Id:</span> <span class="font-weight-bold"></span>{{orderid}} </div>
                <div class="d-flex flex-column mb-2"> <span class="muted-text">Address:</span> <span class="font-weight-bold"></span>{{obj.address}}</div>
                <div class="d-flex flex-column mb-2"> <span class="muted-text">Mobile No.:</span> <span class="font-weight-bold"></span>{{obj.phone}}</div>
                <div class="d-flex flex-column mb-2"> <span class="muted-text">City:</span> <span class="font-weight-bold"></span>{{obj.city}}</div>
                <div class="d-flex flex-column mb-2"> <span class="muted-text">Pincode:</span> <span class="font-weight-bold"></span>{{obj.pincode}}</div>
            </div>
        </div>
    </div>
   

</body>

