<div class="container">
    <form  style="margin: auto; width: 30%;" class="mt-1" class="card my-2 bg">
          <div class="form-group card-body">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="email" name="email">
          </div>
          
          
          <button type="submit" class="btn btn-primary w-40" (click)="submit()">Submit</button>
         
    </form>
</div>
